.h1 {
  font-size: 180px;
  font-weight: $font-black;
  text-transform: uppercase;
}

.h2 {
  font-size: 36px;
  font-weight: $font-black;
  text-transform: uppercase;
}

.h3 {
  font-size: 20px;
  color: $color-white;
  letter-spacing: 2px;
}
